*{
    margin:0%;
    padding: 0%;
    box-sizing:border-box;

}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height:90vh;
    width: 100vw;
    background-color: #fff;
    background-size: cover;
}
#page>#nav{
    margin-top: 2%;
    margin-right:1%;
    height: 10%;
    background-color:#d9d4d4;
    display: flex;
    justify-content: space-between;
    
}
#page>#nav>img{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: space-between;
    margin-left:0.5%;
    margin-right:0.5%;
    width: 300px;
}
#page>#nav>.sidebar>#center-nav{
    display: flex;
    justify-content:space-between;
}
#page>#nav>.sidebar>#center-nav>a{
    color: white;
    text-decoration: none;
    font-size: 25px ;
    font-weight: 800;  
}
#page>#nav>.sidebar>#center-nav>a:hover{
    text-decoration:underline 
}

#page>#nav>.sidebar>#check,
#page>#nav>.sidebar>#nav-toggle{
    display: none;
}
#page>#nav>.sidebar{
    position: relative;
    width: 40%;
    padding-right: 2%;
    padding-top: 1.5%;
    background-color: #9B2241;
    padding-left: 1%;
    padding-right:1%;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
